/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* MAIN RULES START */



/* MAIN RULES END */



/* HEADER START */



/* HEADER END */



/* MAIN START  */


/* MAIN END  */

